
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/MerakiPS/.vs/*
library/MerakiPS/MerakiPS/bin/*
library/MerakiPS/MerakiPS/obj/*

# ignore PowerShell Studio MetaData
MerakiPS/MerakiPS.psproj
MerakiPS/MerakiPS.psproj.bak
MerakiPS/MerakiPS.psprojs
MerakiPS/MerakiPS.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*